In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

from sklearn.linear_model import LinearRegression

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/hamdan-codes/none-but-some/main/dataset.csv')

In [ ]:
df.head()

  business_code cust_number  ...    invoice_id isOpen
0          U001   200769623  ...  1.930438e+09      0
1          U001   200980828  ...  1.929646e+09      0
2          U001   200792734  ...  1.929874e+09      0
3          CA02   140105686  ...  2.960623e+09      1
4          U001   200769623  ...  1.930148e+09      0

[5 rows x 19 columns]

In [ ]:
df.corr()

                        buisness_year    doc_id  ...  invoice_id    isOpen
buisness_year                1.000000 -0.015241  ...   -0.013742  0.753522
doc_id                      -0.015241  1.000000  ...    1.000000 -0.008764
document_create_date         0.979477 -0.011879  ...   -0.010089  0.762133
document_create_date.1       0.984438 -0.013437  ...   -0.011609  0.762191
due_in_date                  0.990314 -0.016548  ...   -0.014778  0.754217
posting_id                        NaN       NaN  ...         NaN       NaN
area_business                     NaN       NaN  ...         NaN       NaN
total_open_amount            0.002743  0.168460  ...    0.178028  0.013875
baseline_create_date         0.984763 -0.011666  ...   -0.009761  0.761918
invoice_id                  -0.013742  1.000000  ...    1.000000 -0.007517
isOpen                       0.753522 -0.008764  ...   -0.007517  1.000000

[11 rows x 11 columns]

In [ ]:
train_val_data = df[df['clear_date'].notnull()]
test_data = df[df['clear_date'].isnull()]

In [ ]:
le_business_code = preprocessing.LabelEncoder()
le_business_code.fit(df['business_code'].unique()) 

le_cust_number = preprocessing.LabelEncoder()
le_cust_number.fit(df['cust_number'].unique()) 

le_name_customer = preprocessing.LabelEncoder()
le_name_customer.fit(df['name_customer'].unique()) 

le_document_type = preprocessing.LabelEncoder()
le_document_type.fit(df['document_type'].unique()) 

le_cust_payment_terms = preprocessing.LabelEncoder()
le_cust_payment_terms.fit(df['cust_payment_terms'].unique())

LabelEncoder()

In [ ]:
def transform(df):
    # To transform object datatype into numeric data
    df['business_code'] = le_business_code.transform(df['business_code'])
    df['cust_number'] = le_cust_number.transform(df['cust_number'])
    df['name_customer'] = le_name_customer.transform(df['name_customer'])
    df['document_type'] = le_document_type.transform(df['document_type'])
    df['cust_payment_terms'] = le_cust_payment_terms.transform(df['cust_payment_terms'])
    

def preprocessToFeed(df):
    # Preprocess Data to feed to model
    rep = {'USD' : 1.0, 'CAD' : 0.79}
    df.replace(to_replace=rep, inplace=True)
    df['total_open_amount'] *= df['invoice_currency']
    
    df.drop(axis=1, 
            columns=[
                'area_business', 'posting_id', 'invoice_id', 'invoice_currency', 'document_create_date', 
                'document_create_date.1', 'baseline_create_date', 'buisness_year', 'posting_date', 
                'isOpen'
            ], 
            inplace=True
        )
    
    df['clear_date'] = pd.to_datetime(df['clear_date'], format='%d-%m-%Y 00:00')
    
    df['due_in_date'] = df.due_in_date.astype('int64')
    df['due_in_date'] = pd.to_datetime(df['due_in_date'], format='%Y%m%d')
    
    transform(df)
    
    
def preprocessTestData(df):
    # To preprocess Test Data to feed directly to model prediction
    preprocessToFeed(df)
    df.drop(columns=['clear_date'], inplace=True)

In [ ]:
train_val_data.head()

  business_code cust_number  ...    invoice_id isOpen
0          U001   200769623  ...  1.930438e+09      0
1          U001   200980828  ...  1.929646e+09      0
2          U001   200792734  ...  1.929874e+09      0
4          U001   200769623  ...  1.930148e+09      0
5          CA02   140106181  ...  2.960581e+09      0

[5 rows x 19 columns]

In [ ]:
preprocessToFeed(train_val_data)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [ ]:
train_val_data.head()

   business_code  cust_number  ...  total_open_amount cust_payment_terms
0              1          908  ...         54273.2800                 39
1              1         1072  ...         79656.6000                 33
2              1          977  ...          2253.8600                 22
4              1          908  ...         33133.2900                 39
5              0          447  ...         17558.4136                  6

[5 rows x 9 columns]

In [ ]:
train_val_data['delay'] = (train_val_data.clear_date - train_val_data.due_in_date)
train_val_data.drop(columns=['clear_date'], inplace=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
train_val_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 40000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   business_code       40000 non-null  int64
 1   cust_number         40000 non-null  int64
 2   name_customer       40000 non-null  int64
 3   doc_id              40000 non-null  int64
 4   due_in_date         40000 non-null  datetime64[ns]
 5   document_type       40000 non-null  int64
 6   total_open_amount   40000 non-null  float64
 7   cust_payment_terms  40000 non-null  int64
 8   delay               40000 non-null  timedelta64[ns]
dtypes: datetime64[ns](1), float64(1), int64(6), timedelta64[ns](1)
memory usage: 3.1 MB

In [ ]:
train_val_data['delay'] = (train_val_data['delay'] / np.timedelta64(1,'D')).astype(int)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
train_val_data.corr()

                    business_code  cust_number  ...  cust_payment_terms     delay
business_code            1.000000     0.130647  ...            0.488137 -0.008252
cust_number              0.130647     1.000000  ...            0.362026  0.011982
name_customer           -0.026749     0.208885  ...            0.136280 -0.024530
doc_id                  -0.496002    -0.485951  ...           -0.479525  0.164581
document_type           -0.022394    -0.021095  ...           -0.021503  0.079528
total_open_amount       -0.073141    -0.043809  ...           -0.170683 -0.001307
cust_payment_terms       0.488137     0.362026  ...            1.000000  0.029239
delay                   -0.008252     0.011982  ...            0.029239  1.000000

[8 rows x 8 columns]

In [ ]:
x_train, x_val, y_train, y_val = train_test_split(
    train_val_data.drop(columns=['due_in_date', 'delay']),
    train_val_data['delay'], 
    test_size=0.2, 
    random_state=0
)

In [ ]:
x_train.shape, y_train.shape, x_val.shape, y_val.shape

((32000, 7), (32000,), (8000, 7), (8000,))

In [ ]:
model = LinearRegression()
model.fit(x_train, y_train)
y_val_pred = model.predict(x_val)

y_val_pred = y_val_pred + 0.5
y_val_pred = y_val_pred.astype('int')

x = y_val - y_val_pred
error = (x.dot(x) / len(x)) ** 0.5

print('Error (Root mean squared error):', error)

Error (Root mean squared error): 10.24296099768031

In [ ]:
def predToOutput(y):
    # Function to convert predicted output in desired format
    y = y + 0.5
    y = y.astype('int')
    y = pd.to_timedelta(y, unit='D') + test_data['due_in_date']
    y = y.dt.strftime("%d-%m-%Y 00:00")
    
    return y

In [ ]:
preprocessTestData(test_data)
# Preprocess and feed data to predict
y_pred = model.predict(test_data.drop(columns=['due_in_date']))
y_pred = predToOutput(y_pred)
y_pred

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

3        16-04-2020 00:00
7        03-04-2020 00:00
10       26-03-2020 00:00
14       30-04-2020 00:00
15       26-04-2020 00:00
               ...
49975    26-03-2020 00:00
49980    19-05-2020 00:00
49982    25-03-2020 00:00
49992    09-04-2020 00:00
49995    06-05-2020 00:00
Length: 10000, dtype: object

In [ ]:
print('Output:')
print(y_pred)

Output:
3        16-04-2020 00:00
7        03-04-2020 00:00
10       26-03-2020 00:00
14       30-04-2020 00:00
15       26-04-2020 00:00
               ...
49975    26-03-2020 00:00
49980    19-05-2020 00:00
49982    25-03-2020 00:00
49992    09-04-2020 00:00
49995    06-05-2020 00:00
Length: 10000, dtype: object